@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


:root {
  --bg-color: #e2e5ea;
  --card-bg: #c5ccdb;
  --text-color: #1e2633;
}

.dark {
  --bg-color: #0e0d22;
  /* navbar and page bg */
  --text-color: #ffffff;
  --card-bg: #1a1c2c;
  /* post cards, create form, etc */
}


body {
  background: var(--bg-color);
    color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
